# Build results
[Ss]rc/[Bb]in/

# VS Code files for those working on multiple tools
[Ss]rc/[Cc]ode/.vscode/*
[Ss]rc/[Cc]ode/.vscode/settings.json
[Ss]rc/[Cc]ode/.vscode/tasks.json
[Ss]rc/[Cc]ode/.vscode/launch.json
[Ss]rc/[Cc]ode/.vscode/extensions.json
[Ss]rc/[Cc]ode/*.code-workspace

# Python cache
[Ss]rc/[Cc]ode/__pycache__

# Misc
[Ss]rc/ElectraConfig.ini
